<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Kafka Properties Documentation</title>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KN32EN5HE0"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-KN32EN5HE0');
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.23.0/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">

    <style>
        td {
            word-break: break-all;
            word-wrap: break-word;
            min-width: 10em;
        }

        .five {
            width: 5%;
        }

        .ten {
            width: 10%;
        }

        #properties .tag {
            height: initial;
            padding: initial;
        }

        .section-without-bottom-padding {
            padding-bottom: 0rem;
        }
    </style>
</head>
<body>


<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Kafka Properties Documentation
            </h1>
            <h2 class="subtitle">
                Human-readable documentation.
            </h2>
        </div>
    </div>
</section>

<div id="properties" class="container is-fluid">
    <section class="section section-without-bottom-padding">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Kafka version</label>
            </div>
            <div class="field-body">
                <div class="buttons has-addons">
                    <span class="button" v-for="version of versions"
                          v-bind:class="{ 'is-primary': filters.version == version }"
                          v-on:click="filters.version = version; fetchData()"
                          v-text="version"
                    />
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Category</label>
            </div>

            <div class="field-body">
                <div class="buttons has-addons">
                    <span class="button" v-for="category of filters.categories"
                          v-bind:class="{ 'is-primary': category.active }"
                          v-on:click="category.active = !category.active"
                          v-text="categoryName(category.name)"
                    />
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Search</label>
            </div>
            <div class="field-body">
                <div class="field is-expanded">
                    <div class="control">
                        <input class="input" type="text" v-model="filters.search"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">In</label>
            </div>

            <div class="field-body">
                <div class="buttons has-addons">
                    <span class="button" v-for="configBlock of filters.configBlocks"
                          v-bind:class="{ 'is-primary': configBlock.active }"
                          v-on:click="configBlock.active = !configBlock.active"
                          v-text="configBlockDescriptionFromName(configBlock.name).displayName"
                    />
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Highlight results</label>
            </div>
            <div class="field-body">
                <div class="buttons has-addons">
                    <span class="button" v-for="mode of highlights"
                          v-bind:class="{ 'is-primary': filters.highlight === mode }"
                          v-on:click="filters.highlight = mode;"
                          v-text="mode"></span>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <colgroup>
                <col class="five"/>
                <col class="five"/>
                <col/>
                <col class="five"/>
                <col class="five"/>
                <col class="ten"/>
                <col class="five"/>
                <col class="ten"/>
                <col class="ten"/>
            </colgroup>
            <thead>
            <tr>
                <th>Category</th>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
                <th>Default</th>
                <th>Valid Values</th>
                <th>Importance</th>
                <th>Dynamic Update Mode</th>
                <th>Server Default Property</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="property of filteredProperties">
                <td v-text="categoryName(property.Category)"/>
                <td v-html="highlight(property, 'Name')"/>
                <td style="word-break: break-word" v-html="highlight(property, 'Description')"/>
                <td>
                    <code v-html="highlight(property,'Type')"/>
                </td>
                <td v-html="highlight(property, 'Default')"/>
                <td v-html="highlight(property, 'ValidValues')"/>
                <td v-html="highlight(property, 'Importance')"/>
                <td v-html="highlight(property, 'DynamicUpdateMode')"/>
                <td v-html="highlight(property, 'ServerDefaultProperty')"/>
            </tr>
            </tbody>
        </table>
    </section>
</div>
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Kafka Properties Documentation</strong> made with ❤️ by
            <a href="https://github.com/mouminoux">Moum</a>.
        </p>
    </div>
</footer>
<script>
    const highlightOn = 'On';
    const highlightOff = 'Off';
    var propertiesVue = new Vue({
        el: '#properties',
        mounted() {
            this.loadFiltersFromUrlHash();
            this.fetchData();
        },
        data: {
            properties: [],
            categoriesName: [
                {name: 'broker', displayName: "Broker"},
                {name: 'topic', displayName: "Topic"},
                {name: 'producer', displayName: "Producer"},
                {name: 'consumer', displayName: "Consumer"},
                {name: 'connect', displayName: "Connect"},
                {name: 'streams', displayName: "Streams"},
                {name: 'adminclient', displayName: "Admin Client"},
            ],
            versions: [
                '0.10.1',
                '0.10.2',
                '0.11.0',
                '1.0',
                '1.1',
                '2.0',
                '2.1',
                '2.2',
                '2.3',
                '2.4',
                '2.5',
                '2.6',
                '2.7',
                '2.8',
                '3.0',
                '3.1',
                '3.2',
                '3.3',
                '3.4',
                '3.5',
                '3.6',
                '3.7',
                '3.8',
                '3.9',
                '4.0',
                '4.1',
            ],
            highlights: [
                highlightOn,
                highlightOff,
            ],
            configBlockNames: [
                {name: 'name', displayName: 'Name', docName: 'Name'},
                {name: 'description', displayName: 'Description', docName: 'Description'},
                {name: 'type', displayName: 'Type', docName: 'Type'},
                {name: 'default', displayName: 'Default', docName: 'Default'},
                {name: 'validvalues', displayName: 'Valid Values', docName: 'ValidValues'},
                {name: 'importance', displayName: 'Importance', docName: 'Importance'},
                {name: 'dynamicupdatemode', displayName: 'Dynamic Update Mode', docName: 'DynamicUpdateMode'},
                {name: 'serverdefaultproperty', displayName: 'Server Default Property', docName: 'ServerDefaultProperty'}
            ],
            filters: {
                version: '4.1',
                search: '',
                categories: [
                    {name: 'broker', active: true},
                    {name: 'topic', active: true},
                    {name: 'producer', active: true},
                    {name: 'consumer', active: true},
                    {name: 'connect', active: true},
                    {name: 'streams', active: true},
                    {name: 'adminclient', active: true},
                ],
                configBlocks: [
                    {name: 'name', active: true},
                    {name: 'description', active: true},
                    {name: 'type', active: true},
                    {name: 'default', active: true},
                    {name: 'validvalues', active: true},
                    {name: 'importance', active: true},
                    {name: 'dynamicupdatemode', active: true},
                    {name: 'serverdefaultproperty', active: true}
                ],
                highlight : highlightOn
            },
        },
        methods: {
            fetchData() {
                axios.get('./kafka-doc-' + this.filters.version + '.json').then(response => {
                    this.properties = response.data;
                });
            },
            highlight: function (row, field) {
                value = row[field];
                if(this.filters.highlight === highlightOn && this.filters.search.length > 2) {
                    let configBlocks = this.filters.configBlocks;
                    let desc = this.configBlockDescriptionFromDocName(field);

                    for (var i = 0; i < configBlocks.length; i++) {
                        let block = configBlocks[i];
                        if (block.name === desc.name) {
                            if (block.active) {
                                return value.replace(new RegExp(this.filters.search, "gi"), match => {
                                    return '<span class="tag is-primary is-medium">' + match + '</span>';
                                });
                            }
                        }
                    }
                }
                return value;
            },
            categoryName: function (value) {
                for (var i = 0; i < this.categoriesName.length; i++) {
                    if (this.categoriesName[i].name === value) {
                        return this.categoriesName[i].displayName;
                    }
                }
            },
            configBlockDescriptionFromName: function (name) {
                for (var i = 0; i < this.configBlockNames.length; i++) {
                    if (this.configBlockNames[i].name === name) {
                        return this.configBlockNames[i];
                    }
                }
            },
            configBlockDescriptionFromDocName: function (docName) {
                for (var i = 0; i < this.configBlockNames.length; i++) {
                    if (this.configBlockNames[i].docName === docName) {
                        return this.configBlockNames[i];
                    }
                }
            },
            loadFiltersFromUrlHash: function () {
                let hash = window.location.hash;
                if (hash === '') {
                    return;
                }
                try {
                    this.filters = JSON.parse(decodeURIComponent(hash.substr(1)));
                } catch (error) {
                    console.error('Impossible to parse location.hash');
                }
            },
        },
        computed: {
            filteredProperties: function () {
                var search = this.filters.search;
                var properties = this.properties;
                var categories = this.filters.categories;
                var configBlocks = this.filters.configBlocks;
                var descriptionFromName = this.configBlockDescriptionFromName;

                properties = properties.filter(function (row) {
                    for (var i = 0; i < categories.length; i++) {
                        if (row['Category'] === categories[i].name && categories[i].active) {
                            return row;
                        }
                    }
                });

                properties = properties.filter(function (row) {
                    for (var i = 0; i < configBlocks.length; i++) {
                        let block = configBlocks[i];
                        let active = block.active;
                        let rowElementOrEmpty = row[descriptionFromName(block.name).docName];
                        if (active && rowElementOrEmpty && rowElementOrEmpty.toLowerCase().indexOf(search.toLowerCase()) > -1) {
                            return true;
                        }
                    }
                    return false;
                });

                return properties;
            }
        },
        watch: {
            filters: {
                handler(filters) {
                    window.location.hash = encodeURIComponent(JSON.stringify(filters));
                },
                deep: true
            }
        },
    });
</script>
</body>
</html>
